#rooms-page {
    padding: 20px;
}

#add-room-btn {
    height: 39px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 15px;
    margin: 30px 0;
}

.rooms-container {
    display: flex;
    flex-wrap: wrap;
}

.room {
    position: relative;
    width: 250px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid black;
}

.room h6 {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.room span {
    font-size: 14px;
    font-style: italic;
    color: #888888;
}

.join-btn {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 95px;
    height: 39px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 15px;
    margin: 20px 0;
}

#game-page {
    padding: 20px;
}

#game-parameters {
    width: 35%;
}

#quit-room-btn {
    height: 39px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 15px;
    margin: 20px 0;
}

#game-container {
    display: flex;
    justify-content: center;
    padding: 15%;
    align-items: center;
    position: relative;
    z-index: 1;
    margin: 20px;
    width: 100%;
    height: 95%;
    border: 1px solid black;
}

#game-timer {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 5px;
    font-style: italic;
    font-size: 14px;
    color: #888888;
}

#ready-btn {
    font-size: 40px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 20px 35px;
}

#game-players li {
    list-style: none;
}

progress {
    display: block;
    width: 100%;
    height: 30px;
}

progress::-webkit-progress-value {
    background: aqua;
}

.status-mark {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 50%;
}

.ready-status-green {
    background-color: green;
}

.ready-status-red {
    background-color: red;
}

.name-mark {
    margin-left: 5px;
    font-size: 12px;
    font-style: italic;
    color: #888888;
}

#timer {
    font-size: 36px;
    color: #888888;
}

.marked-text {
    background: lightgreen;
}

.underlined-char {
    font-style: normal;
    text-decoration: green underline;
}

#modal {
    display: none;
    z-index: 10;
    position: absolute;
    padding: 30px;
    text-align: center;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;
    border: 1px solid black;
    background: lightyellow;
}

#quit-results-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 2px 5px;
    background-color: red;
    color: white;
}